.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;

  @media screen and (max-width: 1145px) {
    gap: .5rem;
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.nav-link {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: bolder;
  transition: color .2s;

  &:hover {
    color: rgb(0 0 0 / 0.7);
    cursor: pointer;
  }
}
