$text-color: #E9E9E9;
$light-gray: #838783;

.contact-form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: $text-color;
}

.title {
  width: fit-content;
  font-weight: 400;
  border-bottom: solid 1px $text-color;
}

.form-field {
  background-color: inherit;
  border-radius: .2rem;
  outline: none;
  border: solid 2px $light-gray;
  color: $light-gray;
  padding: 0 1rem;

  &::placeholder {
    color: $light-gray;
    font-style: italic;
  }
}

.email {
  min-width: 20rem;
  line-height: 2rem;
  margin-top: .2rem;

  @media screen and (max-width: 500px) {
    min-width: 15rem;
  }
}

.message {
  min-width: 28rem;
  min-height: 5rem;
  padding-top: .5rem;

  @media screen and (max-width: 500px) {
    min-width: 20rem;
  }
}

.submit {
  margin-left: auto;
  border: solid 2px $light-gray;
  border-radius: .3rem;
  padding: .5rem 1rem;
  background-color: inherit;
  color: $light-gray;
  font-style: italic;
  cursor: pointer;
}

.divider {
  border-right: solid 2px $light-gray;
}
