<div class="app-side-nav">
  <app-account-divider></app-account-divider>
  <app-nav-link [icon]="'profil_ico.svg'" text="Mój profil"></app-nav-link>
  <app-nav-link [icon]="'order_ico.svg'" text="Moja zamówienia"></app-nav-link>
  <app-nav-link [icon]="'cultivation_ico.svg'" text="Moje uprawy" [isActive]="true"></app-nav-link>
  <app-nav-link [icon]="'conversation_list_ico.svg'" text="Lista konwersacji"></app-nav-link>
  <app-nav-link [icon]="'change_passwords_ico.svg'" text="Zmiana hasła"></app-nav-link>
</div>
