<div class="wrapper">
  <h1 class="title">Faza 3 (wzrost pośredni)</h1>
  <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda doloribus eligendi itaque odio recusandae. Accusamus culpa delectus distinctio eligendi exercitationem iste necessitatibus possimus quo sit. Aliquam animi autem blanditiis consequuntur, cumque cupiditate dicta error et ex expedita harum inventore ipsum itaque, minus, nisi perspiciatis provident quam repudiandae saepe sunt vel!</p>
</div>
