<div class="contact">
  <div class="contact-info">
    <h4 class="title">Dane kontaktowe</h4>
    <p class="text">tel.: +48 606 714 782</p>
    <p class="text">fax: +48 12 345 38 98</p>
    <p class="text">e-mail: biuro@wirtualnepole.pl</p>
  </div>

  <div class="social-icons">
    <a href="#"><img src="assets/svg/facebook_logo_ico.svg" alt="facebook icon"></a>
    <a href="#"><img src="assets/svg/instagram_logo_ico.svg" alt="instagram icon"></a>
    <a href="#"><img src="assets/svg/twitter_logo_ico.svg" alt="twitter icon"></a>
    <a href="#"><img src="assets/svg/youtube_logo_ico.svg" alt="youtube icon"></a>
  </div>
</div>
