figure {
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: color .2s;

  &:hover {
    cursor: pointer;
    color: rgb(0 0 0 / 0.7);
  }

  figcaption {
    font-weight: bolder;
  }
}
