.card {
  padding: .5rem 1.5rem;
  background-color: white;
  margin: 2rem 0;
}
.title,
.subtitle {
  color: #578C44;
}

.title {
  font-size: 1.2rem;
}

.subtitle {
  margin-top: .5rem;
  font-style: italic;
}
