<div class="card">
  <h1 class="title">{{ product.name }} / {{ product.type }}</h1>
  <h4 class="subtitle">Planowane czynności w ramaach uprawy</h4>
  <div style="display:flex;">
    <div style="flex: 1">
      <app-outsources-icons></app-outsources-icons>
      <app-order-product-information></app-order-product-information>
    </div>
    <app-graphic-growing-phases style="flex: 1"></app-graphic-growing-phases>
    <app-growing-phase-description style="flex: 1"></app-growing-phase-description>
  </div>
</div>
